fastapi
uvicorn
gunicorn
sqlalchemy[asyncpg]
alembic
pydantic-settings
aiokafka
arq==0.26.3
redis>=4.2.0,<6.0.0
prometheus-fastapi-instrumentator
jsonschema
asyncpg
greenlet
tenacity
watchfiles
orjson